<h2>Create A New Account</h2>

<form class="" action="<%= users_url %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="_method" value="POST">

  <label for="user_name">User Name</label><br>
  <input name="user[user_name]" id="user_name" type="text" value=""><br><br>

  <label for="password">Password</label><br>
  <input name="user[password]" id="password" type="password" value=""><br><br>

  <input type="submit" value="Create Account">
</form>
